In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Matplotlib is building the font cache; this may take a moment.

In [2]:
# Load the dataset
# Assuming the file is in the current directory
df = pd.read_csv('tracks_features.csv')

In [3]:
# Display basic information about the dataset
print("Dataset Information:")
df.info()

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1204025 entries, 0 to 1204024
Data columns (total 24 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   id                1204025 non-null  object
 1   name              1204022 non-null  object
 2   album             1204014 non-null  object
 3   album_id          1204025 non-null  object
 4   artists           1204025 non-null  object
 5   artist_ids        1204025 non-null  object
 6   track_number      1204025 non-null  int64
 7   disc_number       1204025 non-null  int64
 8   explicit          1204025 non-null  bool
 9   danceability      1204025 non-null  float64
 10  energy            1204025 non-null  float64
 11  key               1204025 non-null  int64
 12  loudness          1204025 non-null  float64
 13  mode              1204025 non-null  int64
 14  speechiness       1204025 non-null  float64
 15  acousticness      1204025 non-null  float64
 16  instrumentalness  1204025 non-null  float64
 17  liveness          1204025 non-null  float64
 18  valence           1204025 non-null  float64
 19  tempo             1204025 non-null  float64
 20  duration_ms       1204025 non-null  int64
 21  time_signature    1204025 non-null  float64
 22  year              1204025 non-null  int64
 23  release_date      1204025 non-null  object
dtypes: bool(1), float64(10), int64(6), object(7)
memory usage: 212.4+ MB

In [4]:
# Display the first few rows of the dataset
print("\nFirst 5 rows of the dataset:")
df.head()

First 5 rows of the dataset:

,id,name,album,album_id,artists,artist_ids,track_number,disc_number,explicit,danceability,...,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,year,release_date
0,7lmeHLHBe4nmXzuXc0HDjk,Testify,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],1,1,False,0.470,...,0.0727,0.02610,0.000011,0.3560,0.503,117.906,210133,4.0,1999,1999-11-02
1,1wsRitfRRtWyEapl0q22o8,Guerrilla Radio,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],2,1,True,0.599,...,0.1880,0.01290,0.000071,0.1550,0.489,103.680,206200,4.0,1999,1999-11-02
2,1hR0fIFK2qRG3f3RF70pb7,Calm Like a Bomb,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],3,1,False,0.315,...,0.4830,0.02340,0.000002,0.1220,0.370,149.749,298893,4.0,1999,1999-11-02
3,2lbASgTSoDO7MTuLAXlTW0,Mic Check,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],4,1,True,0.440,...,0.2370,0.16300,0.000004,0.1210,0.574,96.752,213640,4.0,1999,1999-11-02
4,1MQTmpYOZ6fcMQc56Hdo7T,Sleep Now In the Fire,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],5,1,False,0.426,...,0.0701,0.00162,0.105000,0.0789,0.539,127.059,205600,4.0,1999,1999-11-02

In [5]:
# Check for missing values
print("\nMissing values in each column:")
df.isnull().sum()

Missing values in each column:

id                   0
name                 3
album               11
album_id             0
artists              0
artist_ids           0
track_number         0
disc_number          0
explicit             0
danceability         0
energy               0
key                  0
loudness             0
mode                 0
speechiness          0
acousticness         0
instrumentalness     0
liveness             0
valence              0
tempo                0
duration_ms          0
time_signature       0
year                 0
release_date         0
dtype: int64

In [6]:
# Step 1: Drop unnecessary columns
df_clean = df.drop(['id', 'album_id', 'artist_ids', 'track_number', 'disc_number', 'time_signature'], axis=1)
print("\nColumns after dropping unnecessary ones:")
print(df_clean.columns.tolist())

Columns after dropping unnecessary ones:
['name', 'album', 'artists', 'explicit', 'danceability', 'energy', 'key', 'loudness', 'mode', 'speechiness', 'acousticness', 'instrumentalness', 'liveness', 'valence', 'tempo', 'duration_ms', 'year', 'release_date']

In [7]:
# Step 2: Clean up the artists column
# First, check the current format
print("\nSample artists entries before cleaning:")
df_clean['artists'].head()

Sample artists entries before cleaning:

0    ['Rage Against The Machine']
1    ['Rage Against The Machine']
2    ['Rage Against The Machine']
3    ['Rage Against The Machine']
4    ['Rage Against The Machine']
Name: artists, dtype: object

In [8]:
# Clean up artists column - remove brackets and quotes
df_clean['artists'] = df_clean['artists'].apply(
    lambda x: x.strip("[]'\"").replace("'", "").replace('"', '') if isinstance(x, str) else x
)

In [9]:
print("\nSample artists entries after cleaning:")
df_clean['artists'].head()

Sample artists entries after cleaning:

0    Rage Against The Machine
1    Rage Against The Machine
2    Rage Against The Machine
3    Rage Against The Machine
4    Rage Against The Machine
Name: artists, dtype: object

In [10]:
# Step 3: Extract primary artist for easier analysis
df_clean['primary_artist'] = df_clean['artists'].apply(
    lambda x: x.split(',')[0].strip() if isinstance(x, str) and ',' in x else x
)

In [11]:
print("\nSample primary artists:")
df_clean['primary_artist'].head()

Sample primary artists:

0    Rage Against The Machine
1    Rage Against The Machine
2    Rage Against The Machine
3    Rage Against The Machine
4    Rage Against The Machine
Name: primary_artist, dtype: object

In [12]:
# Step 4: Round numerical audio features to 2 decimal places
audio_features = ['danceability', 'energy', 'loudness', 'speechiness',
                 'acousticness', 'instrumentalness', 'liveness', 'valence']

In [13]:
for feature in audio_features:
    df_clean[feature] = df_clean[feature].round(2)

In [14]:
# Check the results of rounding
print("\nSample audio features after rounding:")
df_clean[audio_features].head()

Sample audio features after rounding:

,danceability,energy,loudness,speechiness,acousticness,instrumentalness,liveness,valence
0,0.47,0.98,-5.40,0.07,0.03,0.0,0.36,0.50
1,0.60,0.96,-5.76,0.19,0.01,0.0,0.16,0.49
2,0.32,0.97,-5.42,0.48,0.02,0.0,0.12,0.37
3,0.44,0.97,-5.83,0.24,0.16,0.0,0.12,0.57
4,0.43,0.93,-6.73,0.07,0.00,0.1,0.08,0.54

In [15]:
# Step 5: Convert tempo to integer
df_clean["tempo"] = df_clean["tempo"].astype(int)

In [16]:
print("\nSample tempo values after conversion:")
df_clean["tempo"].head()

Sample tempo values after conversion:

0    117
1    103
2    149
3     96
4    127
Name: tempo, dtype: int64

In [17]:
# Step 6: Create duration in seconds column
df_clean["duration_s"] = (df_clean["duration_ms"] / 1000).astype(int)

In [18]:
# Compare milliseconds vs seconds
print("\nDuration comparison (ms vs s):")
comparison = pd.DataFrame({
    'duration_ms': df_clean["duration_ms"].head(),
    'duration_s': df_clean["duration_s"].head()
})
print(comparison)

Duration comparison (ms vs s):
   duration_ms  duration_s
0       210133         210
1       206200         206
2       298893         298
3       213640         213
4       205600         205

In [19]:
# Drop the milliseconds column
df_clean = df_clean.drop("duration_ms", axis=1)

In [20]:
# Step 7: Handle the release_date column
print("\nRelease date format before conversion:")
df_clean['release_date'].head()

Release date format before conversion:

0    1999-11-02
1    1999-11-02
2    1999-11-02
3    1999-11-02
4    1999-11-02
Name: release_date, dtype: object

In [21]:
# Convert to datetime
df_clean['release_date'] = pd.to_datetime(df_clean['release_date'], errors='coerce')

In [22]:
# Extract components
df_clean['release_year'] = df_clean['release_date'].dt.year
df_clean['release_month'] = df_clean['release_date'].dt.month
df_clean['release_day'] = df_clean['release_date'].dt.day

In [23]:
print("\nDate components after extraction:")
date_components = df_clean[['release_date', 'release_year', 'release_month', 'release_day']].head()
print(date_components)

Date components after extraction:
  release_date  release_year  release_month  release_day
0   1999-11-02        1999.0           11.0          2.0
1   1999-11-02        1999.0           11.0          2.0
2   1999-11-02        1999.0           11.0          2.0
3   1999-11-02        1999.0           11.0          2.0
4   1999-11-02        1999.0           11.0          2.0

In [24]:
# Step 8: Convert year to string for consistency
df_clean['year'] = df_clean['year'].astype(str)

In [25]:
# Step 9: Create a decade column
df_clean['decade'] = df_clean['year'].apply(
    lambda x: str(int(float(x)) // 10 * 10) + 's' if x.replace('.', '', 1).isdigit() else None
)

In [26]:
print("\nDecade examples:")
decade_examples = df_clean[['year', 'decade']].head(10)
print(decade_examples)

Decade examples:
   year decade
0  1999  1990s
1  1999  1990s
2  1999  1990s
3  1999  1990s
4  1999  1990s
5  1999  1990s
6  1999  1990s
7  1999  1990s
8  1999  1990s
9  1999  1990s

In [27]:
# Step 10: Handle missing values
print("\nMissing values before handling:")
print(df_clean.isnull().sum())

Missing values before handling:
name                     3
album                   11
artists                  0
explicit                 0
danceability             0
energy                   0
key                      0
loudness                 0
mode                     0
speechiness              0
acousticness             0
instrumentalness         0
liveness                 0
valence                  0
tempo                    0
year                     0
release_date        131186
primary_artist           0
duration_s               0
release_year        131186
release_month       131186
release_day         131186
decade                   0
dtype: int64

In [28]:
# Drop rows with missing values in critical columns
critical_columns = ['name', 'album', 'artists', 'danceability', 'energy']
df_clean = df_clean.dropna(subset=critical_columns)

In [29]:
# Fill remaining NaNs with appropriate values
df_clean = df_clean.fillna({
    'mode': 0,
    'key': -1,
    'explicit': False
})

In [30]:
print("\nMissing values after handling:")
print(df_clean.isnull().sum())

Missing values after handling:
name                     0
album                    0
artists                  0
explicit                 0
danceability             0
energy                   0
key                      0
loudness                 0
mode                     0
speechiness              0
acousticness             0
instrumentalness         0
liveness                 0
valence                  0
tempo                    0
year                     0
release_date        131186
primary_artist           0
duration_s               0
release_year        131186
release_month       131186
release_day         131186
decade                   0
dtype: int64

In [31]:
# Step 11: Create a unique song identifier
df_clean['song_id'] = df_clean.apply(
    lambda row: f"{row['primary_artist']}-{row['name']}".lower().replace(' ', '_'), axis=1
)

In [32]:
print("\nSample song IDs:")
df_clean[['name', 'primary_artist', 'song_id']].head()

Sample song IDs:

,name,primary_artist,song_id
0,Testify,Rage Against The Machine,rage_against_the_machine-testify
1,Guerrilla Radio,Rage Against The Machine,rage_against_the_machine-guerrilla_radio
2,Calm Like a Bomb,Rage Against The Machine,rage_against_the_machine-calm_like_a_bomb
3,Mic Check,Rage Against The Machine,rage_against_the_machine-mic_check
4,Sleep Now In the Fire,Rage Against The Machine,rage_against_the_machine-sleep_now_in_the_fire

In [33]:
# Final check of the cleaned dataset
print("\nFinal cleaned dataset info:")
df_clean.info()

Final cleaned dataset info:
<class 'pandas.core.frame.DataFrame'>
Index: 1204012 entries, 0 to 1204024
Data columns (total 24 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   name              1204012 non-null  object
 1   album             1204012 non-null  object
 2   artists           1204012 non-null  object
 3   explicit          1204012 non-null  bool
 4   danceability      1204012 non-null  float64
 5   energy            1204012 non-null  float64
 6   key               1204012 non-null  int64
 7   loudness          1204012 non-null  float64
 8   mode              1204012 non-null  int64
 9   speechiness       1204012 non-null  float64
 10  acousticness      1204012 non-null  float64
 11  instrumentalness  1204012 non-null  float64
 12  liveness          1204012 non-null  float64
 13  valence           1204012 non-null  float64
 14  tempo             1204012 non-null  int64
 15  year              1204012 non-null  object
 16  release_date      1072826 non-null  datetime64[ns]
 17  primary_artist    1204012 non-null  object
 18  duration_s        1204012 non-null  int64
 19  release_year      1072826 non-null  float64
 20  release_month     1072826 non-null  float64
 21  release_day       1072826 non-null  float64
 22  decade            1204012 non-null  object
 23  song_id           1204012 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(11), int64(4), object(7)
memory usage: 221.6+ MB

In [34]:
print("\nFinal cleaned dataset sample:")
df_clean.head()

Final cleaned dataset sample:

,name,album,artists,explicit,danceability,energy,key,loudness,mode,speechiness,...,tempo,year,release_date,primary_artist,duration_s,release_year,release_month,release_day,decade,song_id
0,Testify,The Battle Of Los Angeles,Rage Against The Machine,False,0.47,0.98,7,-5.40,1,0.07,...,117,1999,1999-11-02,Rage Against The Machine,210,1999.0,11.0,2.0,1990s,rage_against_the_machine-testify
1,Guerrilla Radio,The Battle Of Los Angeles,Rage Against The Machine,True,0.60,0.96,11,-5.76,1,0.19,...,103,1999,1999-11-02,Rage Against The Machine,206,1999.0,11.0,2.0,1990s,rage_against_the_machine-guerrilla_radio
2,Calm Like a Bomb,The Battle Of Los Angeles,Rage Against The Machine,False,0.32,0.97,7,-5.42,1,0.48,...,149,1999,1999-11-02,Rage Against The Machine,298,1999.0,11.0,2.0,1990s,rage_against_the_machine-calm_like_a_bomb
3,Mic Check,The Battle Of Los Angeles,Rage Against The Machine,True,0.44,0.97,11,-5.83,0,0.24,...,96,1999,1999-11-02,Rage Against The Machine,213,1999.0,11.0,2.0,1990s,rage_against_the_machine-mic_check
4,Sleep Now In the Fire,The Battle Of Los Angeles,Rage Against The Machine,False,0.43,0.93,2,-6.73,1,0.07,...,127,1999,1999-11-02,Rage Against The Machine,205,1999.0,11.0,2.0,1990s,rage_against_the_machine-sleep_now_in_the_fire

In [35]:
# Display summary statistics
print("\nSummary statistics for numerical features:")
df_clean.describe()

Summary statistics for numerical features:

,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,release_date,duration_s,release_year,release_month,release_day
count,1.204012e+06,1.204012e+06,1.204012e+06,1.204012e+06,1.204012e+06,1.204012e+06,1.204012e+06,1.204012e+06,1.204012e+06,1.204012e+06,1.204012e+06,1072826,1.204012e+06,1.072826e+06,1.072826e+06,1.072826e+06
mean,4.930502e-01,5.095309e-01,5.194165e+00,-1.180876e+01,6.714609e-01,8.440961e-02,4.466409e-01,2.827300e-01,2.015757e-01,4.280206e-01,1.171434e+02,2009-05-22 16:50:22.611308544,2.483640e+02,2.008941e+03,5.996895e+00,1.334875e+01
min,0.000000e+00,0.000000e+00,0.000000e+00,-6.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1900-01-01 00:00:00,1.000000e+00,1.900000e+03,1.000000e+00,1.000000e+00
25%,3.600000e-01,2.500000e-01,2.000000e+00,-1.525000e+01,0.000000e+00,4.000000e-02,4.000000e-02,0.000000e+00,1.000000e-01,1.900000e-01,9.400000e+01,2004-10-05 00:00:00,1.740000e+02,2.004000e+03,3.000000e+00,4.000000e+00
50%,5.000000e-01,5.200000e-01,5.000000e+00,-9.790000e+00,1.000000e+00,4.000000e-02,3.900000e-01,1.000000e-02,1.200000e-01,4.000000e-01,1.160000e+02,2010-06-25 00:00:00,2.240000e+02,2.010000e+03,6.000000e+00,1.300000e+01
75%,6.300000e-01,7.700000e-01,8.000000e+00,-6.720000e+00,1.000000e+00,7.000000e-02,8.600000e-01,7.200000e-01,2.400000e-01,6.400000e-01,1.370000e+02,2016-07-03 00:00:00,2.850000e+02,2.016000e+03,9.000000e+00,2.200000e+01
max,1.000000e+00,1.000000e+00,1.100000e+01,7.230000e+00,1.000000e+00,9.700000e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.480000e+02,2020-12-18 00:00:00,6.061000e+03,2.020000e+03,1.200000e+01,3.100000e+01
std,1.896965e-01,2.947154e-01,3.536723e+00,6.982139e+00,4.696822e-01,1.160080e-01,3.853064e-01,3.763900e-01,1.804919e-01,2.703928e-01,3.093565e+01,NaN,1.622133e+02,8.761909e+00,3.582452e+00,9.733687e+00

In [36]:
# Save the cleaned dataset
df_clean.to_csv('cleaned_tracks_features.csv', index=False)
print("\nCleaned dataset saved to 'cleaned_tracks_features.csv'")

Cleaned dataset saved to 'cleaned_tracks_features.csv'

In [37]:
# Visualize key distributions after cleaning
plt.figure(figsize=(15, 10))

In [ ]:
# Define all audio features to visualize
all_features = ['danceability', 'energy', 'loudness', 'speechiness',
               'acousticness', 'instrumentalness', 'liveness', 'valence', 'tempo']

# Create separate plots for each feature with enhanced styling
for feature in all_features:
    plt.figure(figsize=(10, 6))

    # Create main distribution plot with KDE
    ax = sns.histplot(data=df_clean, x=feature, kde=True, color='steelblue',
                    bins=30, alpha=0.7, edgecolor='black', linewidth=0.5)

    # Add vertical line for mean
    plt.axvline(df_clean[feature].mean(), color='crimson', linestyle='--',
                linewidth=2, label=f'Mean: {df_clean[feature].mean():.2f}')

    # Add vertical line for median
    plt.axvline(df_clean[feature].median(), color='darkgreen', linestyle='-',
                linewidth=2, label=f'Median: {df_clean[feature].median():.2f}')

    # Add descriptive title and labels
    plt.title(f'Distribution of {feature.capitalize()}', fontsize=16, pad=20)
    plt.xlabel(f'{feature.capitalize()} Value', fontsize=12)
    plt.ylabel('Frequency', fontsize=12)

    # Add descriptive statistics as text
    stats_text = (f"Mean: {df_clean[feature].mean():.2f}\n"
                  f"Median: {df_clean[feature].median():.2f}\n"
                  f"Std Dev: {df_clean[feature].std():.2f}\n"
                  f"Min: {df_clean[feature].min():.2f}\n"
                  f"Max: {df_clean[feature].max():.2f}")

    # Place the text box in the upper right
    props = dict(boxstyle='round', facecolor='white', alpha=0.7)
    plt.text(0.95, 0.95, stats_text, transform=plt.gca().transAxes, fontsize=10,
            verticalalignment='top', horizontalalignment='right', bbox=props)

    # Add legend
    plt.legend()

    # Add grid for better readability
    plt.grid(True, alpha=0.3, linestyle='--')

    # Add tight layout and save figure
    plt.tight_layout()
    plt.savefig(f'{feature}_distribution.png', dpi=300)
    plt.show()

# Create a boxplot for all features (normalized) to compare distributions
plt.figure(figsize=(14, 8))

# Create a copy of the dataframe with normalized features for comparison
df_normalized = df_clean.copy()

# Normalize each feature to 0-1 scale for comparison
for feature in all_features:
    if feature in df_normalized.columns:
        min_val = df_normalized[feature].min()
        max_val = df_normalized[feature].max()
        df_normalized[feature] = (df_normalized[feature] - min_val) / (max_val - min_val)

# Create a melted dataframe for the boxplot
df_melted = pd.melt(df_normalized, value_vars=all_features, var_name='Feature', value_name='Normalized Value')

# Create the boxplot
sns.boxplot(x='Feature', y='Normalized Value', data=df_melted, palette='viridis')
plt.title('Comparison of Audio Feature Distributions (Normalized)', fontsize=16)
plt.xticks(rotation=45)
plt.tight_layout()
plt.savefig('audio_features_comparison.png', dpi=300)
plt.show()

In [ ]:
print("Data cleaning process completed successfully!")